.menu {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .menu h2{
    color: rgb(11, 2, 32);
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between items */
  }
  
  .menupost {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .menupost:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .menupost img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  }
  
  .menupost h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
  }
  
  .menubotton {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menubotton:hover {
    background-color: #0056b3;
  }
  